* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: salmon;
}

header {
    background-color: crimson;
    width: 95%;
    margin: 10px auto;
}
    .tituloPagina {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .tituloPagina > h1 {
            margin: 0;
        }
    .headerTop > nav > ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60px;
    }
        .headerTop > nav > ul > li {
            background-color: darkcyan;
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0 5px;
            height: 40px;
            cursor: pointer;
            border-radius: 5px;
        }
        .headerTop > nav > ul > li:hover {
            background-color: rgb(0, 93, 93);
            transition: .2s;

        }

.container {
    width: 90%;    
    height: 300px;
    background-color: aquamarine;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
    .top {
        width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .top > div {
            width: 75%;
            height: 60%;
            background-color: brown;
        }
    .photos {
        height: 66%;
    }
    .photos > ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }    

.inner {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    list-style: none;
}

@media (max-width: 700px) {
    .container {
        height: 900px;
    }
    .photos > ul {
        flex-direction: column;
    }
    .inner {
        width: 90%;
    }
}